@model List<Product>



<div class="container">
    <div class="row pt-4 pb-23">
        <div class="col-6">
            <h2 class="test-primary">
                Product List

            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>  Add New Product
            </a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>title</th>
                <th>description</th>
                <th>isbn</th>
                <th>author</th>
                <th>listPrice</th>
                <th>category name</th>
                 
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>


}